body{
    text-align: center;
}
nav{
    background-color: black;
}
#link{
    background-color: white;
}
#Campers_Capers{
    padding-bottom: 10px;
}
#REQUIZ_Interschool_Competition{
    padding-bottom: 10px;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
.movie_head i{
    float: right;
}
.movie_text span{
    color: aquamarine;
}
#footer{
    height: 20px;
    background-color: white
}